.headerContainer{
    color:#fff;
    background-color:#089a8f;
    font-weight:bold;
    height:50px;
    width:100%;
    text-align:center;
}

.headerTitle{
    vertical-align: middle;
    margin:0px;
    padding-top: 15px;
}